<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Edit Employee</title>
</head>

<body>
  <br>
  <div align="center">
    <h1>Edit Employee</h1>
    <form th:action="@{/employee/edit/{id} (id=${editEmployee?.id})}" th:object="${editEmployee}" method="POST">
      <input type="hidden" name="empId" th:field="*{id}"/>
      <input type="hidden" name="empId" th:field="*{empId}"/>
      <table>
        <tr>
          <td>Employee Id</td>
          <td><input type="text" disabled="disabled" name="empId" th:field="*{empId}"/></td>
        </tr>
        <tr>
          <td>First Name</td>
          <td><input type="text" name="firstName" th:field="*{firstName}"/></td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td><input type="text" name="lastName" th:field="*{lastName}"/></td>
        </tr>
        <tr>
          <td>Age</td>
          <td><input type="number" name="age" th:field="*{age}"/></td>
        </tr>
      </table>
      <input type="submit" value="Submit" />
    </form>
  </div>
</body>

</html>