<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Employee List</title>
  </head>
  <body>
    <div align="center">
      <br>
      <table border="1">
        <tr>
          <td>Id</td>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Age</td>
        </tr>
        <tr th:each="emp : ${employees}">
          <td th:text="${emp.id}"></td>
          <td th:text="${emp.firstName}"></td>
          <td th:text="${emp.lastName}"></td>
          <td th:text="${emp.age}"></td>
        </tr>
      </table>
    </div>
  </body>
</html>